<!DOCTYPE html>
<html>
<head>
    <title>Corgi</title>
    <link rel='stylesheet' href='/style/style.css'/>
</head>
<body>
<h1>Corgi</h1>

<p>embed code: <textarea rows="1" cols="50" style="resize: unset;" readonly><scripts
                src="http://analytics.tsl.ac.uk/client.js"></scripts></textarea></p>

<% pings.map(ping => { %>
    <p><a><%- ping.origin %></a>: <%- ping.count %></p>

    <button onclick="toggle('<%- ping.origin %>')">Toggle paths</button>

    <div id="<%- ping.origin %>" style="display: none;">
        <% ping.paths.map(path=>{ %>
            <p style="text-indent:50px;"><a><%- path.path %></a>: <%- path.count %></p>
        <% }); %>
    </div>
<% }) %>

<script src="/client.js"></script>


<script>

    function toggle(origin) {
        var x = document.getElementById(origin);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>

</body>
</html>
