<% include _head.ejs %>


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered"><a><%- site.origin %></a></h1>

        <canvas id="myChart" height="100"></canvas>
        <form>
            <div class="field">
                <label class="label"># Days to show</label>
                <div class="control">
                    <input id="daysToShow" class="input" type="number" placeholder="7" style="max-width: 120px;">
                    <button class="button is-primary" type="button" onclick="updateDayCount()">Update</button>
                </div>
            </div>
        </form>

        <hr/>

        <% if(site.browserStats){ %>
            <!--<div class="columns">-->
                <!--<div class="column">-->
                    <!--<canvas id="browser-os"></canvas>-->
                <!--</div>-->
                <!--<div class="column">-->
                    <!--<canvas id="browser-name"></canvas>-->
                <!--</div>-->
                <!--<div class="column">-->
                    <!--<canvas id="browser-mobile"></canvas>-->
                <!--</div>-->
            <!--</div>-->
            <!--<hr/>-->

            <h2 class="heading is-3">Browsers</h2>
            <div class="columns">
                <% Object.keys(site.browserStats.browsers).map(browser=>{ %>
                    <div class="column">
                        <div class="has-text-centered">
                            <h2 class="heading"><%- browser %></h2>
                            <ul>
                                <% site.browserStats.browsers[browser].versions.map(version=>{ %>
                                    <li><p> <%- version %></p></li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>

        <% } %>

        <% if(site.paths){ %>
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th><abbr title="Path">Path</abbr></th>
                    <th>Visits</th>
                </tr>
                </thead>
                <tbody>
                <% site.paths.map(path=>{ %>
                    <tr>
                        <th><%- path.path %></th>
                        <td><%- path.count %></td>
                    </tr>

                <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</section>


<script>
    var dts = document.getElementById('daysToShow');

    function updateDayCount() {
        insertParam('days', dts.value);
    }

    function insertParam(key, value) {
        key = encodeURI(key);
        value = encodeURI(value);

        var kvp = document.location.search.substr(1).split('&');

        var i = kvp.length;
        var x;
        while (i--) {
            x = kvp[i].split('=');

            if (x[0] == key) {
                x[1] = value;
                kvp[i] = x.join('=');
                break;
            }
        }

        if (i < 0) {
            kvp[kvp.length] = [key, value].join('=');
        }

        //this will reload the page, it's likely better to store this until finished
        document.location.search = kvp.join('&');

        // console.log(document.location);
    }


    var siteObject = <%- JSON.stringify(site) %>;
    var ctx = document.getElementById('myChart').getContext('2d');

    var datesArray = siteObject.week.map(function (day) {
        return day.human;
    });

    var valueArray = siteObject.week.map(function (day) {
        return day.count;
    });

    var uniqueVisitorsArray = siteObject.week.map(function (day) {
        return day.uniqueVisitors;
    })

    dts.value = siteObject.week.length;


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: datesArray,
            datasets: [{
                label: '# of visits',
                data: valueArray,
                backgroundColor: '#22D0B2',//colors,
                borderColor: '#22D0B2',//colors,
                borderWidth: 1
            }
                , {
                    label: '# unique visitors',
                    data: uniqueVisitorsArray,
                    backgroundColor: '#2B9EEB',//colors2,
                    borderColor: '#2B9EEB',//colors2,
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<script>

//    var ctx1 = document.getElementById('browser-os').getContext('2d');
//    new Chart(ctx1, {
//        data: {
//            labels: siteObject.browserStats.oss,
//            datasets: [{
//                label: 'lbl',
//                data: [1, 40]
//            }]
//        },
//        type: 'polarArea',
//        options: {}
//    });
//
//    var ctx2 = document.getElementById('browser-name').getContext('2d');
//    new Chart(ctx2, {
//        data: {
//            labels: siteObject.browserStats.oss,
//            datasets: [{
//                label: 'lbl',
//                data: [1, 40]
//            }]
//        },
//        type: 'polarArea',
//        options: {}
//    });
//
//    var ctx3 = document.getElementById('browser-mobile').getContext('2d');
//    new Chart(ctx3, {
//        data: {
//            labels: siteObject.browserStats.oss,
//            datasets: [{
//                label: 'lbl',
//                data: [1, 40]
//            }]
//        },
//        type: 'polarArea',
//        options: {}
//    });

</script>
<% include _foot.ejs %>

